@model ErrorViewModel
@{
    ViewData["Title"] = "Klaida";
}

<h1 class="text-danger">Klaida.</h1>
<h2 class="text-danger">Įvyko klaida.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Užklausos ID:</strong> <code>@Model.RequestId</code>
    </p>
}
