@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model PMTS.DTOs.PasswordDTO

@{
    ViewData["Title"] = "Slaptažodžio keitimas";
}

<h1>Prisijungimas</h1>

<hr />
@if (TempData["ChangeStatus"] != "ChangeSuccess")
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="oldPassword" class="control-label">Senasis slaptažodis</label>
                    <input type="password" asp-for="oldPassword" class="form-control" />
                    <span asp-validation-for="oldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="newPassword" class="control-label">Naujasis slaptažodis</label>
                    <input type="password" asp-for="newPassword" class="form-control" />
                    <span asp-validation-for="newPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="newPassword" class="control-label">Pakartokite naują slaptažodį</label>
                    <input type="password" asp-for="newPasswordConfirm" class="form-control" />
                    <span asp-validation-for="newPasswordConfirm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Keisti slaptažodį" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}


@if (TempData["ChangeStatus"] == "ChangeFailed")
{
    <h4>Keitimas nepavyko</h4>
    <p>Bandykite dar kartą</p>
}

@if (TempData["ChangeStatus"] == "ChangeSuccess")
{
    <h4>Slaptažodis pakeistas</h4>
}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
