@model PMTS.Models.User

@{
    ViewData["Title"] = "Naudotojo informacija";
}

<div>
    <h4>Naudotojo informacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Vardas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            El. paštas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    @if (TempData["IsAdmin"] == "true")
    {
        <p><b>Naudotojas yra administratorius</b></p>
    }
</div>
<div>
    @if (TempData["IsAdmin"] == "false")
    {
        <a asp-controller="Tournaments" asp-action="MyTournaments">Mano turnyrai</a>
        <br />
    }
    <input type="button" value="Keisti slaptažodį" class="btn btn-primary" onclick="window.location.href='@Url.Action("ChangePassword")';" />
    
</div>
