@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model PMTS.Models.User

@{
    ViewData["Title"] = "Registracija";
}

<h1>Registracija</h1>

<hr />
    @if (TempData["RegisterStatus"] != "RegisterSuccess")
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Vardas</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">El. Paštas</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Slaptažodis</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registruotis" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }


<div>
    <a asp-action="Index">Back to List</a>
</div>

    @if (TempData["RegisterStatus"] == "RegisterSuccess")
    {
        <h3>Registracija sėkminga!</h3>
        <p>Prisijungti</p>
    }



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
