@model PMTS.DTOs.PhotoDTO

@{
    ViewData["Title"] = "Nuotraukos įkėlimas";
}

<h4>Įkelkite nuotrauką</h4>
@using (Html.BeginForm("AddPhoto", "Tournaments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
    <input type = "file" asp-for="PhotoData"/>
    </div>
    <div class="form-group">
        <label asp-for="BirdsN" class="control-label"></label>
        <input asp-for="BirdsN" class="form-control" />
        <span asp-validation-for="BirdsN" class="text-danger"></span>
    </div>

    <div>
    <input type="submit" value="Įkelti" class="btn btn-primary" />
    </div>
    <br />
}


@{
    if (TempData["PhotoAdded"] == "True")
    {
        <h4>Nuotrauka pridėta.</h4>
    }
    if (TempData["Error"] == "true")
    {
        <h4>Failas per didelis.</h4>
        <p>Maksimalus failo dydis: 4MB</p>
    }
}

<button onclick="history.back()" class="btn btn-primary">Grįžti</button>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
