
@{
    ViewData["Title"] = "Nuotraukos";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Nuotrauka
            </th>
            <th>
                Paukščių kiekis nuotraukoje
            </th>
            <th>
                Bendras nuotraukos taškų kiekis
            </th>
        </tr>
    </thead>
    <tbody>


            <tr>
                <td>
                    <img src="https://pmts.blob.core.windows.net/pmts-pic/1.jpg" alt="Nuotrauka Nr. 1" />
                </td>
                <td>
                    0
                </td>
                <td>
                    0
                </td>
            </tr>

    </tbody>
</table>
