@model PMTS.Models.Tournament

@{
    ViewData["Title"] = "Turnyro trynimas";
}

<h1>Trinti turnyrą</h1>

<h3>Ar tikrai norite ištrinti šį turnyrą?</h3>
<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Pavadinimas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Pradžia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            Pabaiga
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Trinti" class="btn btn-danger" /> |
        <a asp-action="Index">Grįžti</a>
    </form>
</div>
